<?xml version="1.0" encoding="utf-8"?>
<launch>

	<!-- ###  NODES  ### -->

	<!-- will try to read an initial configuration file form CONFIGPATH/config_ROBOTNAME -->
	<node name="config_server" pkg="config_server" type="config_server" output="screen" required="true">
		<param name="config_path" value="CONFIGPATH" />
		<param name="robot_name" value="ROBOTNAME" />
		<param name="robot_type" value="ROBOTTYPE" />
	</node>

	<node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" output="screen" required="true" args="--perspective-file $(find bhattacharyya_visualization)/launch/bhattacharyya_visualization.perspective"/>

	<node name="rviz" pkg="rviz" type="rviz" output="screen" required="true" args="-d $(find bhattacharyya_visualization)/launch/bhattacharyya_visualization.rviz"/>

  	<node pkg="bhattacharyya_visualization" type="bhattacharyya_visualization" output="screen" name="bhattacharyya_visualization"/>

</launch>
		
