<!-- -*- mode: XML -*- -->
<!-- run velodyne_object_detector/VelodyneObjectDetectorNodelet in a nodelet manager -->

<launch>

    <include file="$(find velodyne_object_detector)/launch/object_detector_nodelet.launch">
        <arg name="start_as_nodelet" value="true"/>

        <arg name="manager" value="velodyne_nodelet_manager" />
        <arg name="points_topic" value="/velodyne_points_filtered" />
        <arg name="circular_buffer_capacity" value="6000" />
        <arg name="angle_between_scanpoints" value="0.1" />

        <arg name="certainty_threshold" value="0.0" />
        <arg name="dist_weight" value="1" />
        <arg name="intensity_weight" value="0" />
        <arg name="object_size_in_m" value="0.15" />
        <arg name="distance_to_comparison_points" value="0.5" />

        <arg name="median_min_dist" value="0.15" />
        <arg name="median_thresh1_dist" value="0.45" />
        <arg name="median_thresh2_dist" value="7.0" />
        <arg name="median_max_dist" value="10.0" />

        <arg name="kernel_size_diff_factor" value="5" />
        <arg name="max_dist_for_median_computation" value="0.0" />
        <arg name="max_kernel_size" value="1000" />
        <arg name="publish_debug_cloud" value="false" />
    </include>

</launch>
