<launch>


  <node pkg="rosbag" type="play" name="player" output="screen" args="--clock -r 0.2 -s 10 /home/razlaw/bags/blackbox2.bag"/>

  <!-- will try to read an initial configuration file form CONFIGPATH/config_ROBOTNAME -->
  <node name="config_server" pkg="config_server" type="config_server" output="screen" required="true">
    <param name="config_path" value="CONFIGPATH" />
    <param name="robot_name" value="ROBOTNAME" />
    <param name="robot_type" value="ROBOTTYPE" />
  </node>

  <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" output="screen" required="true" args="">
  </node>

  <node name="velodyne_object_detector" pkg="velodyne_object_detector" type="velodyne_object_detector" output="screen">
    <param name="points_topic" value="/velodyne_points"/>

    <param name="certainty_threshold_launch" value="1.0"/>

  </node>

  <node if="0" name="rivz" pkg="rviz" type="rviz" />
</launch>
