<!--  -->
<launch>
    <node name="pointcloud_to_pcd" pkg="pointcloud_to_pcd_kinetic" type="pointcloud_to_pcd_kinetic" output="screen">
        <remap from="/input" to="/mapping_nodelet/pointcloud" />

        <param name="prefix" value="/tmp/"/>
        <param name="fixed_frame" value="odom"/>
        <param name="binary" value="false"/>
        <param name="compressed" value="false"/>

    </node>
</launch>
